* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    
}
body {
    background-color: #bdbcbe;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items:center;
    background-color: #581b98;
    /* position: fixed; */
    /* top:0;
    width: 100%; */

}

.logo{
    /* display: flex; */
    font-size: 50px;
    text-transform: uppercase;
    color: #e8e2ee;
    letter-spacing: 10px;
    /* padding-left: 100px; */
    cursor: pointer;
    font-family: 'Libre Baskerville', serif;
    justify-content: space-around;

}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 31px;
    height: 21px;
}

.toggle-button .bar {
   height: 3px;
   width: 100%;
   background-color: #e8e2ee; 
   border-radius: 10px;
}

@media (max-width: 500px) {
.toggle-button{
    display: flex;
    
}
.nav-links {
    display: none;
    width: 100%;

}
nav {
    flex-direction: column;
    align-items: flex-start;
}
.nav-links ul{
    flex-direction: column;
    width: 100%;
}
.nav-links li{
    text-align: center;
}

.nav-links li a {
    padding: .5rem 1rem;
}
.nav-links.active{
    display:flex;
}
}
/* .logo :hover {
    font-size: 55px;
    transition: 0.5s;
} */

.nav-links{
    display:inline-flexbox;
    justify-content: space-around;
    width: 30%;
    

}

.nav-links ul {
    display: flex;
    justify-content: space-around;
}

.nav-links ul li {
    list-style: none;
}

.nav-links a{
    display: flex;
    color: #e8e2ee;
    text-decoration: none;

}

.nav-links ul li a:hover{
    transition: 00.5s;
    color: #9c1de7;
    
}

/* failed background gradient-- to be checked */
/* body {
    background-image: linear-gradient(180deg, red, yellow);
} */
.body-container{
    /* position: relative; */
    text-align: center;
    background-color: #505050;
    
}

/* .body-container img {
    opacity: 0.5;
    background-attachment:fixed;
    position:relative;
} */

.questions{
    position: absolute;
    top: 20%;
    left: 5%;
    right: 5%;
    /* margin: 25px; */
    font-size: 50px;
    background-color: #7618ad;
    border-radius: 5%;
    opacity: 0.8;
    font-family:'Playfair Display', serif;
    color: aliceblue;
    
}

.questions p {
    opacity: 1;

}

/* .footer-container  {
    display: block;
    position: absolute;
    top: 112.5%;
    left: 40%;
    background-color: aliceblue;
    align-items: center;
    justify-content: space-around;
    border-radius: 5%;
}

.fb {
    left: 10%;
}  */