* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items:center;
    background-color: rgb(241, 241, 241);
}

.logo{
    /* display: flex; */
    font-size: 50px;
    text-transform: uppercase;
    color: rgb(102, 103, 104);
    letter-spacing: 10px;
    /* padding-left: 100px; */
    cursor: pointer;
    font-family: 'Libre Baskerville', serif;
    justify-content: space-around;

}

/* .logo :hover {
    font-size: 55px;
    transition: 1s;
} */

.nav-links{
    display:inline-flexbox;
    justify-content: space-around;
    width: 30%;
    

}

.nav-links ul li {
display: flex;
text-decoration:none ;
}

.nav-links a{
    display: flex;
    color: rgb(102, 103, 104);
    text-decoration: none;

}

.body-container{
    position: relative;
    text-align: center;
}

.body-container img {
    opacity: 0.5;
}

.questions{
    position: absolute;
    top: 10%;
    left: 5%;
    right: 5%;
    font-size: 50px;
    background-color: rgb(194, 163, 245);
    border-radius: 5%;
    opacity: 0.8;
    font-family:'Playfair Display', serif;

    
}

.questions p {
    opacity: 1;

}