    * {
        box-sizing: border-box;
        margin: 0px;
        padding: 0px;
        
    }
    body {
        background-color: #939196;
    }

    nav {
        display: flex;
        justify-content: space-around;
        align-items:center;
        background-color: #581b98;
        

    }

    .logo{
        font-size: 50px;
        text-transform: uppercase;
        color: #e8e2ee;
        letter-spacing: 10px;
        cursor: pointer;
        font-family: 'Libre Baskerville', serif;
        justify-content: space-around;

    }

    .toggle-button {
        position: absolute;
        top: .75rem;
        right: 1rem;
        display: none;
        flex-direction: column;
        justify-content: space-around;
        width: 31px;
        height: 21px;
    }

    .toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: #e8e2ee; 
    border-radius: 10px;
    }

    @media (max-width: 500px) {
    .toggle-button{
        display: flex;
        
    }
    .nav-links {
        display: none;
        width: 100%;

    }
    nav {
        flex-direction: column;
        align-items: flex-start;
    }
    .nav-links ul{
        flex-direction: column;
        width: 100%;
    }
    .nav-links li{
        text-align: center;
    }

    .nav-links li a {
        padding: .5rem 1rem;
    }
    .nav-links.active{
        display:flex;
    }
    }
    .logo :hover {
        color:#9c1de7 ;
        transition: 0.8s;
    }

    .nav-links{
        display:inline-flexbox;
        justify-content: space-around;
        width: 30%;
        

    }

    .nav-links ul {
        display: flex;
        justify-content: space-around;
    }

    .nav-links ul li {
        list-style: none;
    }

    .nav-links a{
        display: flex;
        color: #e8e2ee;
        text-decoration: none;

    }

    .nav-links ul li a:hover{
        transition: 00.5s;
        color: #9c1de7;
        
    }


    .body-container{
        text-align: center;
        background-color: #505050;
        
    }

        .ideal-imperial{
            position:absolute;
            left: 5%;
            font-size: 2em;
            text-transform: uppercase;
            font-family:'Libre Baskerville', serif;
            color:#e5deec ;
            text-align:justify;
        }
        
        .mantra{
            position: absolute;
            top:23%;
            left:5%;
            font-size: 2em;
            color: #ebe6f0;
            font-family: 'Lora', serif;
        }

        .count{
            position: absolute;
            top:40% ;
            left: 100px;
            font-size: 20px;
            border-style: dashed;
            border-color: #e5deec;
            color: #e5deec;
            background-color: #646166;
            padding: 10px;
        }


        .worked-on{
            position: absolute;
            top: 42%;
            left: 200px;
            font-size: 1.8em;
            color:#e5deec ;
            font-family: 'Lora', serif;
            text-transform: capitalize;
        }


        .action-button{
            position: absolute;
            top: 60%;
            left:8.5rem;
            border-style:initial;
            background-color: #581b98;
            padding: 20px;
            border-radius: 10%;
        }

        .action-button a {
            color: #e5deec;
            text-decoration: none;
            font-family:'Libre Baskerville', serif;
            text-transform: capitalize;
            font-size:15px ;

        }


        .action-button a:hover {
            color:#9c1de7;
            transition: ease-in .5s;
        }


        /* .action-button a:visited {
            text-decoration: underline;
        } */
        .contact-us a {
            position: fixed;
            text-decoration: none;
            background-color:#7618ad;
            border-radius: 30%;
            color:#e8e2ee ;
            top: 83%;
        }
        .contact-us a:hover{
            transition: ease-in-out .7s;
            color: #9c1de7;
            background-color: #e8e2ee;
        }
    .copyright  {
    position: fixed;
    display: block;
    background-color: #9c1de7;
    top: 90%;
    right: 33%;
    font-size: 35px;
    font-family:'Playfair Display', serif ;
    color: #e8e2ee;
    margin: 1%;

    }

